.profile {
    max-width: 1170px;
    padding: 0 15px;
    margin: 150px auto 0;

    &__avatar {
        max-width: 300px;
        border-radius: 60px;
        overflow: hidden;
        border: 2px solid #bdbdbd71;

        img {
            width: 100%;            
        }
    }   

    &__subtitle {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 3px;
        margin: 15px 0;
    }

    &__name {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        line-height: 1;
        display: inline-block;
    }

    &__email {
        font-size: 20px;
    }
}