.cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &__body {
        max-width: 450px;
        background-color: #fff;
        margin-left: auto;
        position: relative;
        height: 100%;
        overflow: auto;
        transform: translate(100%, 0);
        transition: all .3s ease;

        &::-webkit-scrollbar {
            width: 4px;

            &-thumb {
                background-color: #BDBDBD;
                border-radius: 5px;
            }
        }
    }

    &__close {
        width: 32px;
        height: 32px;
        background-color: #fff;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            pointer-events: none;
        }
    }

    &__content {
        padding: 15px 25px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ededed;
        padding-bottom: 15px;
    }

    &__items {
        margin-top: 15px;
    }

    &__amount {
        margin-top: 25px;

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;

            &+& {
                margin-top: 5px;
            }

            span:nth-child(2) {
                font-weight: bold;
            }
        }
    }

    &__btns {
        margin-top: 25px;

        button:not(:first-child) {
            margin-top: 15px;
        }
    }

    &.open {
        opacity: 1;
        visibility: visible;

        .cart-modal__body {
            transform: translate(0, 0);
        }
    }
}